@media (min-width: 769px) {

.collapse {
    display: block;
}
}
@media (max-width: 1172px) {
.gal-top {
 
    background-size: cover;
    background-repeat: no-repeat;}
}

@media (max-width: 770px) {} 
@media only screen and (max-width: 768px) {
    .di-ad div{
        width: 49%;
        float: left;
    }
    .ln-div.mar-6{
        margin-left: 0px
    }
    .wit.mar-6{
margin-left: 0px
    }
    .d-man {
    margin-right: auto;
}
    .f-news div.les-slider{
    margin-left: 0px;
    margin-right: 0px;}
    .les-slider{
    margin-left: -24px;
    margin-right: -24px;}
    .ban-ti {
    padding-right: 0%;
}
    .rs-re {
    width: 59%;}
    .wit {
    padding: 4% 0% 1%;
}
.nlis-featured {
    width: 28%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3% !important;
    display: inline-block;
    margin-left: 3.5%;
}
    .lis-pgi {
    margin-right: auto;
}
.vid-toppad {
    margin-top: 10%;
}
.ln-main2{
   width: 48%;
display: inline-block;
margin-left: 1%;
}
.it-re {
    width: 167px;
}
.iapd-vidhaf{
    width: 100%;
    float: none;
    clear: left;
}
.haf-vid div{
    width: 50%;
}
    .art_one {
    width: 97%;
    padding-right: 0px;}
    .max-vid{
        width: 100%;
    }
    .ove-hid div:nth-child(2) div.art_one{
    float: right;
    }
    .art-banner a img{
width: 100%;
    }
    .max-ad{
        width: 100%;
        float: none;
        padding-top: 5%;
overflow: hidden;
    }
    .max-ad div{
      width: 48%;
float: left;
max-height: 254px;
margin: 1%;
margin-bottom: 4%;
    }
    .max-ad div img{
     width: 100%; 
     padding-bottom: 1%;  
    }
     .abou-rw{
    
    padding: 0px;
    margin-right: 15px;
    margin-left: 15px;
}
    .max-w{
        width: 100%;
    }
    .lef-con {
        padding-right: 1%;}
    .col-top-3 {
    width: 220px;
    float: right;
}
    .top-logo {
    width: 41%;
}
    .footer-bk {
    background-size: cover;
    background-position: center;
}
          .hot-l p{
        display: none;
      }
      .hot-l a{
        display: block;
        position: absolute;
        right: 63px;
        top: -48px;
      }
    .in-w {
    width: 31%;
}
.bt-re {
    width: 175px;}
.he-lin {
    height: 40px;}
    .in-lin,.spo-lin {
    height: 40px;}
    .les-news {
        width: 100%;
    }
    .qal {
        width: 100%;
        margin-top: 5%;
    }
    .sports {
        position: relative;
        max-width: 98%;
    }
    .sec-row-lef {
        width: 100%;
    }
    .sec-row-rig {
        width: 100%;
    }
    .ln-main {
        max-width: 100%;
    }
    .ln {
        padding-bottom: 2%;
        padding-top: 2%;
        width: 50%;
        background: #fff;
        padding-left: 2%;
        padding-right: 1%;
        white-space: normal;
        float: left;
    }
    .ln-pic {
        width: 30%;
    }
    .ln-pic a img {
        width: 100%;
    }
    .in-con {
        width: 67%;
        padding-left: 1%;
    }
    .ln-hp h6 {
        font-size: 14px;
        font-weight: 600;
    }
    .ln-hp p {
        font-size: 12px;
    }
    .addis {
        display: block;
        width: 100%;
        overflow: hidden;
    }
    .mof {
        margin-top: 8%;
        width: 50%;
        float: left;
    }
    .mof-model img {
        width: 100%;
    }
    .car-f-day {
        width: 50%;
    }
    .car-f-day div a img {
        width: 100%;
    }
    .addt-2 {
        display: none;
    }
    .patta-one {
        margin-left: 0px;
        margin-top: 5%;
    }
    .resent-v {
        margin-left: 0px;
        position: relative;
    }
    .rec-s {
        margin-left: -25px;
    }
    .gosip-con {
        margin-left: 0%;
    }
    .featured {
            width: 210px;
    float: none;
    display: inline-block;
    margin-top: 3%;
}
  
  .hot-l {
    display: block;
}
.iapd-vidhaf {
    margin-top: 6%;
}
.casi-dis {
    padding: 0px 20px;
}
.no-padi{
    padding: 0px;
}
.log-mndiv {
    width: 80%;
    margin: 0 auto;
}
.cli-no{
    display: none;
}
    .fe-row {
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .it-rs {
        padding: 9px 22px;
        font-size: 13px;
    }
    
    .col-top-2 {
        display: none;
    }
    .col-top-7 {
        display: none;
    }
    .col-32{
        width: 100%;
    }
    .Vido-hov:hover{
        display: none;
    }
}