  @media only screen and (max-width: 736px) {} 

  @media only screen and (max-width: 680px) {
    .clid-d {
      width: 190px;
float: none;
display: inline-block;
    }
    .lan-max{
      width: 100%;
      float: none;
    }
    .res-clsi{
    display: block;
    float: left !important;
}
.cat-h {
    margin-top: 2%;
}
.srch{
  margin-right: auto;
}
.no-pad{
    padding: 0px;
}
.my-acus{
  display: block;
}
.myad-ri {
    margin: 0px;
}
.stro-b {
    margin-right: auto;
}
.myad-l {
    float: none;
}
.ri-ico {
    float: none;
    text-align: center;
    border-top: 1px solid #f5f5f5;
margin-left: -10px;
margin-right: -10px;
}
.ri-ico a {
  margin-right: 10%;
margin-left: 10%;
margin-top: 8px;
}
.casimin-div {
    margin-left: auto;
    margin-right: auto;
}
.cat-man{
  padding: 13px;
}
.cech-cat{
  padding-bottom: 8px;
}
.nar-clsi{
  display: none;
}
.ar-clsi{
  display: block;
}
.cat-man div a{

}
.top-cas {
    margin-top: 4%;
}
.land-60{
width: 60%;
}
.lan-hid{
  display: none;
}
.land-40{
width: 40%;
}
    .re-s {
      width: 171px;
    float: none;
display: inline-block;}
    .art-inn div.ln-tim {
    padding-right: 2%;
}
.di-ad div {
    width: 48%;
}
.rele-nws{
  max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
}
    .abu-i h4 {
    margin-bottom: 0px;
    white-space: normal;
}
.nlis-featured {
    width: 211px;}
        .max-ad div{
max-height: 210px;
    }

      .rel-vi div {
          width: 138px;
      }
      .rel-vi {
          max-width: 100%;
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap;
      }
      .fet-news {
          max-width: 100%;
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;
      }
      .fet-news div {
          width: 200px;
          float: none;
          display: inline-block;
          margin-bottom: 2%;
          left: 0px;
      }
      .nivo-caption {
          top: auto;
      }
      .top-logo {
    width: 56%;
}
.footer-bk a img {
    position: relative;
    bottom: auto;
    right: auto;
}
.wit {
    padding: 4% 0% 1%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.regi-sub input[type="submit"]{
  width: 100%;
  }

.log-mndiv {
    width: 80%;
    margin: 0 auto;
}
}
