    @media only screen and (max-width: 480px) {
        .srch input[type=submit]{
            font-size: 0px;
background-image: url(../img/sarch.jpg);
padding: 20px 26px;
background-repeat: no-repeat;
background-position: center;
        }
        .itm-sw{
           float: none;
text-align: center;
        }
        .casi-img{
            width: 100%;
display: block !important;
        }
        .casi-img img{
            display: block;
margin: 0 auto;
        }
        .stro-b{
            float: none;
text-align: center;
margin-top: 4%;
margin-bottom: 2%;
        }
        .casi-pri{
            width: 40%;
text-align: right;
        }
        .casi-dis{
            padding: 10px;
        }
        .casi-tim div.ln-tim {
    bottom: -8px;
}
        .mobi-dt{
            width: 100%;
overflow: hidden;
border-top: 1px solid rgb(237, 237, 237);
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid rgb(237, 237, 237);
margin-bottom: 2%;
        }
        .d-cat.float-r{
            float: left;
        }
    .lis-ad.w28{
width: 100%;
display: block;
height: auto;
    }
    .lis-ad.w28 img{
        width: 100%;
    }
    .lis-rw div{
        float: none !important;
        text-align: center;
    }
    .mr-p {
    margin-right: 13%;
    margin-left: 13%;
    margin-bottom: 4%;
}
    .lis-ad.w72{
        width: 100%;
display: block;
left: auto;
height: auto;
    }
        .f-news {
    
    width: 100%;}
    .col-33-5{
      width: 100%;}
      .col-33-5 div img{
        width: 100%;
      }
        .les-slider {
    
    margin-left: -15px;
    margin-right: -15px;
}   
        .max-ad div {
    width: 100%;}
    .max-ad div {
    max-height: 100%;
}
.vi-ld {
    position: relative;
}
.art_one {
    width: 100%;
    margin-bottom: 3%;
}

.art-50 {
    width: 100%;
    float: none;
}
.col-ms {
    margin-top: 7%;
margin-bottom: 7%;
}
.by-nw a {
    margin-top: 6%;
}
.art-banner {
    margin-top: -2%;
}
.ln-main2 {
    width: 100%;
    display: block;
    margin-left: 0%;
    max-width: 100%;
}
.it-re {
    width: 173px;
}
        .footer-bk img {width: 52%;}
        .max-ad{
            width: 100%;
            margin-bottom: 2%;
        }
        .max-ad div.pathtara{
            padding: 0px;
        }
        .gal-top {
            height: 56px;
            padding: 5% 4%;
        }
        .gal-fr-6 {
            float: none;
            width: 100%;
        }
        .ln {
            width: 100%;
        }
        .mof {
            margin-top: 8%;
            width: 100%;
            float: none;
        }
        .car-f-day {
            width: 100%;
        }
        .see-mor {
            width: 50%;
        }
        .rec-f {
            background-repeat: repeat;
            padding: 4%;
            height: 47px;
        }
        .rec-s {
            width: 19%;
        }
        .gosip-con div.col-60 {
            width: 100%;
        }
        .gosip-con div.col-40 {
            width: 100%;
        }
        .g-ln-hp {
            padding-right: 32%;
        }
        .angal-div {
            width: 180px;
        }
        .pot-100{
            width: 100%;
        }
        .find-regi{
            margin-left: 0px;
width: 100%;
max-width: 100%;
        }
        .log-mndiv {
    width: 107%;
    margin: 0 auto;
    margin-left: -15px;
    margin-right: -15px;
}
.log-mian form input[type="submit"] {
    display: block;
    width: 90%;}
    .dwn-log a {width: 81%;}
        .re-imp input[type="submit"]{
            width: 100%;
        }
    }
    @media only screen and (max-width: 414px) {} 
    @media only screen and (max-width: 375px) {
        .ri-ico a {
    margin-right: 7%;
    margin-left: 7%;}
    } 
    @media only screen and (max-width: 360px) {} 
    @media only screen and (max-width: 320px) {}