@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

body{
    background-color: #f2f2f2;
}

/*Menu css*/
header {
    position: relative;
    width: 100%;
    background: #333;
}
h1,h2,h3,h4,h5,h6{
    white-space: normal;
}
.logo {
    position: relative;
    z-index: 123;
    padding: 10px;
    font: 18px verdana;
    color: #6DDB07;
    float: left;
    width: 15%
}
p{
     color: #000 !important;
}
.d-d p{
color: #000;
}
.logo a {
    color: #6DDB07;
}
nav {
    position: relative;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
#cssmenu #head-mobile {
    display: none
}
#cssmenu {
    font-family: sans-serif;
}
#cssmenu > ul > li {
    float: left
}
#cssmenu > ul > li > a {
    padding: 17px;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #5e5858;
}
#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a {
    color: #fff
}
#cssmenu > ul > li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
    background: #252424!important;
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
}
#cssmenu > ul > li.has-sub > a {
    padding-right: 30px
}
#cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}
#cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}
#cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0
}
#cssmenu ul ul {
    position: absolute;
    left: -9999px
}
#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    background: #333;
    transition: all .25s ease
}
#cssmenu ul ul li:hover {} #cssmenu li:hover > ul {
    left: auto
}
#cssmenu li:hover > ul > li {
    height: 35px
}
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0
}
#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
    border-bottom: 0
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: #fff
}
#cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}
#cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}
#cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0
}
#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636;
}
#cssmenu ul ul ul li.active a {
    border-left: 1px solid #333
}
#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active> a {
    border-top: 1px solid #333
}



@media screen and (max-width: 768px) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 46px;
        text-align: center;
        padding: 10px 0 0 0;
        float: none
    }
    .logo2 {
        display: none
    }
    nav {
        width: 100%;
    }
    #cssmenu {
        width: 100%
    }
    #cssmenu ul {
        width: 100%;
        display: none
    }
    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid #444
    }
    #cssmenu ul li:hover {
        background: #363636;
    }
    #cssmenu ul ul li,
    #cssmenu li:hover > ul > li {
        height: auto
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0
    }
    #cssmenu > ul > li {
        float: none
    }
    #cssmenu ul ul li a {
        padding-left: 25px
    }
    #cssmenu ul ul li {
        background: #333!important;
    }
    #cssmenu ul ul li:hover {
        background: #363636!important
    }
    #cssmenu ul ul ul li a {
        padding-left: 35px
    }
    #cssmenu ul ul li a {
        color: #ddd;
        background: none
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li.active > a {
        color: #fff
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }
    #cssmenu > ul > li.has-sub > a:after,
    #cssmenu > ul > li.has-sub > a:before,
    #cssmenu ul ul > li.has-sub > a:after,
    #cssmenu ul ul > li.has-sub > a:before {
        display: none
    }
    #cssmenu #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700
    }
    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
    }
    .button:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 9px;
        width: 30px;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        content: ''
    }
    .button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 15px;
        right: 20px;
        display: block;
        height: 2px;
        width: 30px;
        background: #ddd;
        content: ''
    }
    .button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }
    #cssmenu .submenu-button.submenu-opened {
        background: #262626
    }
    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px
    }
    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }
    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }
    #cssmenu .submenu-button.submenu-opened:after {
        background: #fff
    }
    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }
    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }
    #cssmenu .submenu-button.submenu-opened:before {
        display: none
    }
    #cssmenu ul ul ul li.active a {
        border-left: none
    }
    #cssmenu > ul > li.has-sub > ul > li.active > a,
    #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none
    }
}
/* end Menu css*/

.col-top-2{
display: inline-block;
vertical-align: top;
width: 10%;
}
.col-top-7{
display: inline-block;
vertical-align: top;
width: 60%;
}
.col-top-3{
display: inline-block;
vertical-align: top;
width: 29%;
}
.top-f{
	background-color: #203452;
}
.hot-news a{
background: #e72020;
padding: 11px 17px;
display: block;
max-width: 100px;
text-transform: uppercase;
color: #fff;
font-size: 12px;
}
.top-text p{
	color: #7f7676;
font-size: 11px;
padding-right: 2%;
display: inline-block;
vertical-align: middle;
margin-bottom: 0px;
padding-top: 1.6%;
}
.sio-m{
margin-top: 2%;
/*margin-right: 6%;*/
}
.sio-m ul{
padding-left: 0px;
margin-bottom: 0px;
padding-top: 3%;
}
.sio-m ul li{
display: inline-block;
}
.sio-m ul li a{
height: 19px;
width: 19px;
background-image: url('/assets/img/sio-icon.png');
display: block;
}
.top-onli{
  text-align: right;
}
.dropdown-menu {
    left: -76px;}

.facebook{

}
/*.osct{
	background-position: -27px center;
}
*/
.google-plus{
    background-position: -27px center;
}
.linkedin{
background-position: -53px center;
}
.twitter{
background-position: -79px center;
}
.pinterest{
background-position: -105px center;
}

.logo-se{
	background-image: url('/assets/img/logo-back.jpg');background-size: cover;background-position-y: -44px;
}

#sear-in {
    position:relative;
    padding:0;
    margin:0; 
}
.sear-in {
    height:20px;
    margin:0;
    padding-left: 30px;
}
#sear-ico{
    position: absolute;
bottom: 8px;
right: 12px;
}
.sear-in{
width: 100%;
height: 40px;
}
.top-logo img{
width: 100%;
margin-left: -71px;
}
.top-cont{
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-bottom: 0px;
}
.lef-con div {
  text-align: right;
}
.top-email{
    font-size: 21px;
    color: #fff;
    text-transform: uppercase;
}
.top-logo{
    float: left;width: 31%;
}
.lef-con{
    float: right;
    text-align: right;
    width: 41%;padding-top: 2%;
padding-bottom: 2%;
}
.ln-pic, .in-con{
    display: inline-block;
    vertical-align: top;
}
.ln-com, .ln-tim, .ln-com img, .ln-tim img, .ln-com p, .ln-tim p{
    display: inline-block;}

.ln-tim, .ln-com{
    font-size: 12px;
    color: #605f5f;
}
.ln-hp p{
    font-size: 13px;
    margin-bottom: 6px;
    white-space: normal;
    color: #000;
}
.ln-tim p,.ln-com p{
  color: #000;
}
.ln-hp h6{
    font-size: 15px;
    font-weight: 500;
    margin-top: 0px;
}
.in-con{
width: 63%;
padding-left: 4%;
}
.ln{
  padding-bottom: 2%;
padding-top: 2%;
width: 100%;
background: #fff;
padding-left: 5%;
padding-right: 2%;
}
.mof{
    position: relative;
    left: -42px;
}
.mof-top{
    position: absolute;
top: -22px;}
.mof-model img{
padding-left: 42px;
}
.mof-btn a{
    background-color: rgba(0, 0, 0, 0.7);
padding: 13px 25px;
position: absolute;
bottom: 0px;
color: #fff;
margin-left: 42px;
font-weight: 500;
font-size: 16px;
}
.mof-top p{
    text-transform: uppercase;
color: rgb(255, 255, 255);
transform: rotate(-9deg);
top: 31px;
position: absolute;
left: 34px;
}
.car-hed{
    position: relative;
}
.angal-div{
background: #000;
height: 34px;
width: 15%;
z-index: 100;
transform: skew(31deg, 0deg);
-ms-transform: skew(31deg, 0deg);
-webkit-transform: skew(31deg, 0deg);
}
.carton-hed{
position: absolute;
color: #fff;
top: 0px;
background: #000;
padding:9px 18px;
text-transform: uppercase;
font-size: 12px;
z-index: 1000;

}
.ln-main{
   width: 100%;
    overflow: hidden;
max-width: 426px;
}
.ln-div{
    position: relative;
    overflow: hidden;
}
.ln-angal{
background: #fff;
width: 45%;
height: 38px;
transform: skew(28deg, 0deg);
-ms-transform: skew(28deg, 0deg);
-webkit-transform: skew(28deg, 0deg);
}
.ln-hed{
    text-transform: uppercase;
color: #000;
background: #fff;
position: absolute;
top: 0px;
padding: 10px 22px;
font-size: 15px;
}
.addis a img{
    width: 100%;
}
.addt-2{
max-width: 426px;

}
.addt-2 a img{
    width: 100%;
}
.car-f-day{
    overflow: hidden;
}
.add-3{
/*max-width: 426px;*/
}
.add-3 a img{
    width: 100%;
}
.pathtara{
width: 100%;
display: inline-block;
padding-left: 3%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  .rslides {
    max-width: 600px;

  }

  .nivo-caption {
  color: #FFFFFF;
  min-width: 550px;
  overflow: hidden;
  position: absolute;
  top: 235px;
  padding: 5px 29px;
  z-index: 8;
}
.nivo-controlNav {
padding: 0px;
text-align: right;
right: 30px;
z-index: 1000;
position: absolute;
bottom: 40px;
}
.nivo-html-caption {
  display:none;
}
.les-news{
width: 55%;
float: left;
white-space: nowrap;
position: relative;
vertical-align: top;
padding-right: 1.5%;
}
.qal{
width: 45%;
float: left;
white-space: nowrap;
vertical-align: top;
overflow: hidden;
margin-top: -11px;
}

.slide-h2{
position: relative;
  padding-left: 22px;
}
.nivo-control{
display: inline-block;
width: 12px;
height: 10px;
background-color: rgba(255, 255, 255, 0.65);
font-size: 0px;
border-radius: 7px;
margin-right: 16px;
}
.pathtara a img{
width: 100%;
}
.nivo-control.active{
  background-color: #fff;
}
.nivo-directionNav{
  display: none;
}
.ls-btn{
    background-color: #cc1414;
   min-width: 23%;
    text-align: center;
    padding: 1.2% 2%;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0px;
    margin-left: 5px;
    margin-top: 5px;
}
.gal-top{
background-image: url('/assets/img/q1.png');
height: 78px;
width: 100%;
color: #fff;
padding: 6% 4%;
background-size: 100%;
}
.gal-fr-6{
  float: left;
  width: 50%;
  white-space: nowrap;
  background-color: #262323;
}
.gal-bak{
 background-image: url(/assets/img/q2.png);
background-size: 100%;
color: #fff;
font-size: 15px;
font-weight: 600;
padding: 5% 7%;
background-repeat: no-repeat;
}
.videos{
  background-image: url(/assets/img/q3.png);
width: 21px;
height: 21px;
display: inline-block;
background-position: -31px;
vertical-align: middle;
margin-right: 4%;
}
.gal-bak a{
  width: 100%;
  display: block;
  color: #fff;
font-weight: 500;
}
.news {
    background-image: url(/assets/img/q3.png);
    width: 21px;
    height: 21px;
    display: inline-block;
    background-position: -62px;
    vertical-align: middle;
    margin-right: 4%;
}
.sindu{
      background-image: url(/assets/img/q3.png);
    width: 21px;
    height: 21px;
    display: inline-block;
    background-position: -127px;
    vertical-align: middle;
    margin-right: 4%;
}
.ape-lipi{
        background-image: url(/assets/img/q3.png);
    width: 21px;
    height: 21px;
    display: inline-block;
    background-position: -93px;
    vertical-align: middle;
    margin-right: 4%;

}
.budi-pg{
      background-image: url(/assets/img/q3.png);
    width: 21px;
    height: 21px;
    display: inline-block;
    background-position: -146px;
    vertical-align: middle;
    margin-right: 4%;

}
.qal-bc{
  background-color: #262323;
  overflow: hidden;
      height: 100%;
}
.les-slider{
  position: relative;
}
.sports{
position: relative;
max-width: 194px;
width: 100%;
margin-top: 6px !important;
}
.sports img{
  width: 100%
}
.sports-a{
position: absolute;
background-color: #77b515;
padding: 1% 4%;
color: #fff;
text-transform: uppercase;
left: 5px;
top: 5px;
}
.st-time img,p{
  /*display: inline-block;*/
  vertical-align: middle;
  margin: 0px;
  font-size: 12px;
}
.st-time img{
  padding-right: 5px;
  width: auto;
}
.s-in-div{
  width: 91%;
display: block;
white-space: normal;
bottom: 0px;
position: absolute;
color: #fff;
padding: 9px;
}
.International-a{

    position: absolute;
    background-color: #165faa;
    padding: 1% 4%;
    color: #fff;
    text-transform: uppercase;
    left: 5px;
    top: 5px;
}
.Health-a{

    position: absolute;
    background-color: #ab1ab0;
    padding: 1% 4%;
    color: #fff;
    text-transform: uppercase;
    left: 5px;
    top: 5px;
}
.col-33{
float: left;
white-space: nowrap;
width: 33.33%;
}
.s-in-div h5,div{
  text-align: left;
}
.float-r{
  float:right; 
}
.float-l{

}
.margin-0-auto{
  margin: 0 auto;
}
.top-pad{
  margin-top: 4%;
}

.sec-row-lef{
  width: 38%;
  float: left;
  white-space: nowrap;
}
.sec-row-rig{
  width: 62%;
float: left;
white-space: nowrap;
}

.clear{
  clear: both;
}

/*vidio gallery css*/
.rel-vi{
background-color: #fff;
padding: 5px;
text-align: center;
margin-top: -5px;
}
.rel-vi div{
width: 24%;
padding-top: 15px;
display: inline-block;

}
.rel-vi div a img{
display: block;
margin: 0 auto;
  }
.rel-vi div a p{
  color: #000 !important;
  display: block;
text-align: center;
padding: 15px 20px 10px;
}
.patta-one{
  margin-left: 34px;
  position: relative;
}
.patta-img{
   position: absolute;
z-index: 1;
left: -33px;
top: -11px;
}
.html5gallery-car-list-0 {
  background: #fff;
  left: 2px !important;}
  .html5gallery-car-0 {
    margin-top: -13px;}

.see-mor{
  background-image: url(/assets/img/see-m.png);
}
.see-mor{
  background-image: url(/assets/img/see-m.png);
background-repeat: no-repeat;
width: 28%;
background-size: 100%;
padding: 1% 2%;
text-align: center;
text-transform: uppercase;
color: #fff;
font-weight: 600;
float: right;
margin-right: 0px;
margin-top: 0px;
z-index: 1000;
}
.html5gallery-elem-0 a{
  display: none;
}

/*ercent-vido*/

.resent-v{
  margin-left: 34px;
  position: relative;
}
.html5gallery-tn-selected-1,.html5gallery-elem-1,.html5gallery-tn-1{
  box-shadow: 0px 0px 0px #aaa !important;
  padding:0px !important;
}
.html5gallery-car-list-1{
  background: #fff;
  left: 2px !important;}
  .html5gallery-car-1 {
    margin-top: -13px;}
    .html5gallery-elem-1 a{
  display: none;
}
.rec-f{
background-image: url(/assets/img/re-v.png);
background-repeat: no-repeat;
padding: 2%;
color: #fff;
width: 86%;
vertical-align: top;
display: inline-block;
background-size: 100%;

}
.rec-s{
background-image: url(/assets/img/re-b.png);
text-align: center;
padding: 2px;
background-size: 100%;
width: 17.5%;
display: inline-block;
vertical-align: top;
margin-left: -27px;
}
.rec-s a {
text-transform: uppercase;
font-size: 12px;
color: #484444;
}
.res-top-br{
margin-bottom: -1px;
margin-top: 3%;
}

/*gosspi css*/

.gosip-bc{
background-image: url(/assets/img/gossip.png);
background-repeat: no-repeat;
width: 19%;
background-size: 100%;
padding: 4% 3% 3%;
color: #fff;
display: block;
position: absolute;
z-index: 10;
margin-left: 4%;
margin-top: -2%;
}
.col-60{
  width: 60%;
  float: left;
  white-space: nowrap;
}
.col-40{
  width: 40%;
  float: left;
  white-space: nowrap;
}
.d-red{
float: left;
}
.l-red{
  float: left;
}
.d-red a{
background-color: #f62a2a;
padding: 9px 12px;
display: block;
color: #fff
}
.l-red a{
background-color: #e72020;
padding: 9px;
display: block;
}
.gos-cmt{
float: right;
margin-right: 5%;
z-index: 100;
margin-top: -5%;
position: absolute;
right: 0px;
}
.gos-img{
  z-index: 10
}
.relative{
  position: relative;
}
.gosip-con{
  background: #000;
  overflow: hidden;
 margin-left: 6%;
margin-top: 5%;
padding-top: 5%;
}
.relative-gs div h4,p{
  color: #fff;
  white-space:normal;
}

.goisp-con h4,.goisp-con p{
  color: #fff !important;
  white-space:normal;
}
.relative div h4{
  margin-top: 7%;
margin-bottom: 4%;
font-weight: 600;
}
.gsip-t{
margin-top: 2%;
}
.gsip-t img{
  padding-right: 2%;
}
.g-ln {
    padding-bottom: 2%;
    padding-top: 2%;
    width: 100%;
    padding-left: 5%;
    padding-right: 0%;
}
.g-ln-hp h6 {
    font-size: 12px;
    font-weight: 600;
    margin-top: 0px;
    color: #fff;
    white-space: normal;
}
.g-ln-pic{
  display: inline-block;
vertical-align: top;
width: 34%;
}
.g-ln-pic a img{
max-width: 100%;
}
 .gos-img img{
  width: 100%
 }
.relative-gs{
  padding-left: 4%;
padding-top: 15%;
padding-bottom: 7%;
position: relative;
background-image: url(/assets/img/gosip-bck.jpg); }
 .mor-gosip
 {
  color: rgb(255, 255, 255);
margin-bottom: 6%;
padding-left: 5%;

 }
 .g-ln-tim p{
color: #fff
 }

 /*end*/

.addtisment-r{
margin-top: 2%
}
.first-r{
  margin-top: 2%
}
.mof{
    margin-top: 8%;
}
.car-f-day{
    margin-top: 6%;
}
.addt-2{
   margin-top: 6%;
}
.goisp-con{
  margin-top: 7%;
}

.it-re{
    background: #010101;
    width: 71%;
height: 41px;
    transform: skew(-30deg, 0deg);
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
}
.it-rs{
  text-transform: uppercase;
color: #fff;
background: #010101;
position: absolute;
top: 0px;
padding: 10px 22px;
font-size: 15px;
}
.featured{
  width: 23%;
text-align: center;
background: #fff;
margin: 2% 10px;
white-space: nowrap;
float: left;
}
.fic-i img{
display: block;
margin: 0 auto;
}
.fic-i div p{
    color: #000;
    font-weight: 600;
    font-size: 14px;
    height: 28px;
}
.fic-i div{
  padding-top:7%;
  text-align: center;

}
.fic-i {
    padding: 6% 14%;
}
.rs-re {
    background: #d10518;
    width: 55%;
    height: 41px;
    transform: skew(30deg, 0deg);
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    float: left;
}
.rs-rs {
    text-transform: uppercase;
    color: #fff;
    background: #d10518;
    position: absolute;
    top: 0px;
    padding: 10px 22px;
    font-size: 15px;
    font-weight: 600;
}
.rs-div {
   position: relative;
overflow: hidden;
background: #282424;
}
 .rs-div  a{
    float: right;
    padding: 10px 8%;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.bt-re{
background: #fff;
width: 31%;
height: 41px;
transform: skew(25deg, 0deg);
-ms-transform: skew(25deg, 0deg);
-webkit-transform: skew(25deg, 0deg);
z-index: 100;
}
.bt-rs{
text-transform: uppercase;
color: #fff;
background: #fff;
position: absolute;
top: 0px;
padding: 10px 22px;
font-size: 15px;
z-index: 100;
}
.he{
  color: #ae24ac;
}
.he-lin{
background-color: #ae24ac;
height: 10px;
width: 100%;
position: absolute;
bottom: 0px;
z-index: 10;
}
.he-pic{
  display: inline-block;
vertical-align: top;
width: 28%;
}
.he-pic a img{
  width:100%;}

 .he-hp p {
    font-size: 13px;
margin-bottom: 6px;
white-space: normal;
color: #000;
font-weight: 600;
  }
  .he-hp h6{
    font-size: 14px;
font-weight: 500;
margin-top: 0px;
color: #837676;
  }
  .in{
    color: #1c5ab5;
  }
  .in-lin{
background-color: #1c5ab5;
height: 10px;
width: 100%;
position: absolute;
bottom: 0px;
z-index: 10;
}
.in-w{
  width: 44%;
}
.spo{
  color: #24b3a8
}
.spo-lin{
  background-color: #24b3a8;
  height: 10px;
width: 100%;
position: absolute;
bottom: 0px;
z-index: 10;
}
.pa-l{
    margin-top: 2%;
}
.pa-b{/*
   padding-right: 1%;
   padding-left: 1%;*/
   margin-top: 2% !important;
}
.pa-r{
/*  padding-left: 2%;*/
  margin-top: 2% !important;
}
.panel {
  border: 0px;
  box-shadow: none;}
.panel-heading{
  padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
}
.footer-bk{
background-image: url(/assets/img/footer_back.jpg);
text-align: center;
margin-top: 2%;
position: relative;
}
.footer-bk img{
    display: block;
    margin: 0px auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
.footer-bk p {
margin-bottom: 2%
}
.bredcm a{
display: inline-block;
color: #7f7677;}
.bredcm span{
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  color: #7f7677;
}
.bredcm h2{
  text-transform: uppercase;
}
.col-70{
  width: 70%;
  float: left;
  white-space: nowrap;
}
.col-30{
  width: 30%;
  float: left;
  white-space: nowrap;
}
.con-ab p {
  font-size: 14px;
  color: #000
}
.con-ab{
    background: #fff;
    padding: 3% 3.5%;
}
.abu-i{
    text-align: center;
}
.abu-d-img img{
  display: block;
  margin: 0 auto
}
.abu-i h4{
    margin-bottom: 0px;
}
 .abu-d-img{
    margin-top: 4%;
    padding-bottom: 3%;
}
.white{
  background:#fff;
}
.ab-img img{
  float: right;
  padding-bottom: 7%;
}
/*Menu css*/
.menu{
background: #070707;
}
.menu ul{
margin: 0px;
padding: 0px
}
.menu ul li{
list-style: none;
float: left
}
.menu ul li a{
padding: 14px 27px;
color: #6b6b6b;
text-transform: uppercase;display: block;
}
.adiv-c{
  float: right;
color: rgb(255, 255, 255);
text-transform: uppercase;
font-weight: 600;padding: 14px 27px;
}
.f-news {
    width: 66.3%;
    float: left;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
    padding-right: 1.5%;
}
.col-33-5{
    width: 33.5%;
    float: left;
    white-space: nowrap;
}
.col-25{
    width: 25%;
    float: left;
    white-space: nowrap;
}
.add-im a img{
width: 97%;
padding-bottom: 4%;
}
.li-s a img{
  width: 100%;
}
.li-s {
  width:28%;
}
.lis-txt p{line-height: 16px;}

.ni-pad{
  padding: 4%;
  background: #fff;
}
.ln-main2 {
width: 98%;
max-width: 426px;
position: relative;
padding-top: 8%;
padding-bottom: 1%;
background: #fff;
margin-top: 3%;
margin-left: 2%;
}
.n-top {
  position: absolute;
top: -18px;
left: -15px;
}
.n-top p {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    transform: rotate(-2deg);
    top: 13px;
position: absolute;
left: 23px;
font-weight: 600;
font-size: 14px;
}
.col-75{
  width: 75%;
  white-space: nowrap;
  float: left;
}
.nomal{
  white-space: normal;
}
.lis-ad{
    display: inline-block;
    vertical-align: top;
}
.w28{
    width: 28%;
    height: 200px;
}
.w72{
    width: 71.4%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
position: relative;
left: -7px;
padding: 1% 2%;
height: 200px;
overflow: hidden;
}
.lis-tx h3{
white-space: normal;
margin-top: 2.2%;
margin-bottom: 2.2%;
font-size: 23px;
}
.lis-tx p{
  color: rgb(0, 0, 0);
padding-right: 2%;
font-size: 13px;padding-bottom: 2%;
}

.lis-rw{
    padding-bottom: 2%;
    overflow: hidden;
    margin-top: 0.7%;
}
.mr-p{
    margin-right: 16%;}
.mr-p p{
  color: #605f5f;
}
.lis-views span{
  font-size: 16px;
font-weight: 600;
margin-right: 5px;
}
.lis-add a img{
  width: 99.1%;
}
.lis-add {
    margin-bottom: 2%;
    margin-top: 2%;
}

.las-tp-lin{
    height: 1px;
    width: 86.4%;
    background: rgb(228, 228, 228) none repeat scroll 0% 0%;;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
}
 .las-tp{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    display: inline-block;
}
.vi-ld{
position: absolute;
right: 0px;
}
.reletive{
  position: relative;
}
.top-lis{
    margin-bottom: 2%;
    margin-top: 1%;
}
.niws-gosip-bc {
    background-image: url(/assets/img/gossip.png);
    background-repeat: no-repeat;
    width: 54%;
    background-size: 81%;
    padding: 10% 6% 6%;
    color: #fff;
    display: block;
    position: absolute;
    z-index: 10;
    margin-left: -3%;
    margin-top: -12%;
}
.nlis-featured {
   width: 89%;
text-align: center;
background: #fff;
border: 1px solid #e1dddd;
margin: 0 auto;
margin-bottom: 7% !important;
}
.wit{
  background: #fff;padding: 11% 0% 1%;
}

.nlis-featured div div img {
    padding-bottom: 14%;
    padding-top: 14%;
}
.mar-6{
    margin-left: 6px;
}

.pagi li{
list-style: none;
float: left;
}
.pagi li a{
padding: 10px 13px;
background: #f9f7f8;
margin-right: 5px;
color: #000;
border: 1px solid #d9d8dd;
}
.pagi {
  padding: 0px;
margin-top: 4%;
margin-bottom: 6%;
}
.pagi-r{
    float: right !important;
    margin-right: 4px;
}
.active-p{
    background: rgb(55, 93, 138) none repeat scroll 0% 0% !important;
    color: #fff !important;
}
.sid-im{
margin-left: 6px;
margin-top: 8%;
margin-bottom: 9%;
}
.sid-im a img{
width: 100%
} 
.bred-cm{
    margin-bottom: 5%;
    margin-top: 2%;
}
.bred-cm p{
    color: rgb(127, 118, 118);
    font-size: 13px;
}
.bred-cm p span{
  margin-left: 5px;
  margin-right: 5px
}
.ql{
  padding-left: 4px;
  padding-bottom: 19px;
}
.ql a img{
  width: 100%
}
.d-man{
    margin-right: 4%;
    background: #fff;
}
.d-img img{
  width: 100%
}
.d-tm{
float: left;
padding-right: 3%;
}
.d-tm p{
  font-size: 14px;
color: #181718;
}
.float-r{
  float: right;
}
.d-cat p{
font-size: 17px;
padding-right: 7px;
vertical-align: middle;
}
.d-cat span{
font-size: 21px;
color: rgb(0, 0, 0);
vertical-align: middle;
}
.ove-hid{
  overflow: hidden;
  padding-bottom: 2%;
padding-top: 2%;
}
.d-d p{
  font-size: 14px
}
.d-d{

}
.d-di{
    padding: 2% 4% 4%;
}
.d-di h3{
    font-size: 29px;
    white-space: normal;
}
.d-sio{
     padding: 2% 0%;
}
.d-adln img{
width: 100%
}
.re-s{
  width: 22%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 6px;
    float: left;
margin-right: 2.5%;

}
.re-s p{
    display: block;
font-size: 14px;
line-height: 20px;
margin-top: 10px;
margin-bottom: 4px;
}
.re-s img{
  width: 100%;
  display: block;
}
.re-s div p,.re-s div img{
  display: inline-block;
  width: auto;
  font-size: 11px;
  color:#181718;
}
.mr-res-n{
margin-top: 5%;
margin-bottom: 3%;
}


.art-50{
  width: 50%;
  float: left;
}

.art_one{
width: 100%;
padding-right: 7%;
position: relative;
}
.art_one img{
  width: 100%;
}
.art_one div{
  white-space: normal;
}
.art-inn div div img{
width: auto;
}
 .art-inn{
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 3%;
}
.art-we{
  float: right;
  font-size: 16px;
  font-weight: 600;
}
.art-inn p{
  font-size: 14px;
  color: #000;
}
.art-inn div.ln-tim{
  padding-right: 6%;
}
.art-inn div.ln-tim p{
  color: #605f5f; 
}
.art-inn div.ln-com p{
  color: #605f5f; 
}
.art-inn div {
    padding-top: 3%;
}
.art-inn h4{
  color: #000;
  margin-bottom: 4%;
}
.art-banner{
float: none;
white-space: normal;
margin-top: 1%;
margin-bottom: 1%;
}
.ove-hid{
  overflow: hidden;
}
.top-hed{
  font-size: 35px;
  text-transform:uppercase;
  margin-top: -30px;
margin-bottom: 30px;
}
.ban-ti{
    padding-right: 3.5%;
}
.ban-ti div.top-lis{
  margin-bottom: 0%;
margin-top: 2%;
}
.top-hed{

}
.img-lis h4{
    width: 80%;
float: left;
padding-right: 3%;
}
.img-lis div {
    width: 19%;
    float: left;
    padding-top: 0px;
    background: rgb(204, 20, 20) none repeat scroll 0% 0%;
    padding-bottom: 2%;
}
.img-lis div h4{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    width: 100%;
}
.img-lis div p {
    color: rgb(255, 255, 255) !important;
    text-align: center;
    width: 100% !important;
    font-size: 14px;
}
.img-lis{
    padding: 0px !important;
    margin-top: -12px;
}
.hov-im:hover .Vido-hov{
display: block;
}
.Vido-hov img{
  width: auto;
  
}
.Vido-hov{
  position: absolute;
left: -33px;
right: 0px;
text-align: center;
top: 114px;
display: none;

}
.vid-ve{
  position: absolute;
right: 45px;
top: 15px;
}
.vid-inn {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 3%;
}
.vid-inn h4 {
    color: #000;
    margin-bottom: 2%;
}
.vid-inn div div img,.vid-inn div div p{
  width: auto;
  color: #605f5f;
}
.imgd-lis div img{
  width: 100%;
  margin-bottom: 2%;

}
.art-33{
  width: 33.333%;
  float: left;
}
.img-lis h5{
  font-size: 14px;
font-weight: 500;
margin-bottom: 4%;
margin-top: 6%;
}
.vim-ve {
    position: absolute;
    right: 20px;
    top: 0px;
}
.top-imgdp{
  margin-top: -22px;
  position: relative;
}
.img-dti h3{
  width: 70%;
  margin-bottom: -8px;
}
.imgd-red{
overflow: hidden;
right: 36px;
top: 30px;
position: absolute;
background: #cc1414;
color: #fff;
text-align: center;
padding: 9px 14px;
}
.imgd-red h4,.imgd-red p{
  color: #fff;
  text-align: center;
}
.imgd-red h4{
  font-size: 22px;
  margin: 0px;
}
.imgd-red p{
    font-size: 17px;}
.vido-dis{
white-space: normal;
padding-top: 2%;
}
.vido-tag a{
  display: inline-block;
  padding-right: 1%;
}
.vido-tag{
  padding-top: 2%;

}
.vid-dit-bot{
  top: 65px;
}
.bot-row{
    width: 98%;
}
.hregi-top{
 font-size: 35px;
text-align: center;
margin-bottom: 3%;
margin-top: 3%;
}
.regi-w{
  width: 90%;
  margin:0 auto;
  background-color: #fdfcfc;
  padding: 3% 4%;
  box-shadow: 0px 0px 8px -3px RGBA(0, 0, 0, 0.28);
}
.fr-1{
display: inline-block;
vertical-align: middle;
}
.fr-1 p{
font-size: 14px;
color: #101010;
}
.fr-1 h3{
font-size: 25px;
color: #101010;
margin: 0px;
}
.tex-alcen{
    text-align: center;
    margin-bottom: 7%;
}
.regi{
  width: 55px;
  height:55px;
  border-radius: 43px;
  border:1px solid #dbd8d8;
  display:block;
  margin-right: 15px;
}
.reg-don{
  background-image: url(/assets/img/right.png);
  border: none;
}
.reg-don-t h3{
  color: #dbd8d8;
}
.regi-h3{
  font-size: 20px;
  margin-bottom: 3%;
margin-top: 1%;
}
.reg-max label{
width: 100%;
font-size: 14px;
font-weight: 400;
color: #101010;
margin-top: 1%;
}
.reg-max input{
width: 100%;
    height: 40px;
    padding-left: 10px;
    border:1px solid #cac8ce;
}
.regi-sub input[type=submit]{
margin: 0 auto;
width: 60%;
background-color: #c84242;
border-radius: 2px;
border: 1px solid #000;
height: 60px;
color: #fff;
text-transform: uppercase;
font-size: 20px;
display: block;
margin-top: 4%;
}
.find-regi{
 bottom: 0px;
text-transform: uppercase;
color: rgb(112, 106, 105);
background-color: rgb(248, 245, 245);
border: 1px solid rgb(234, 225, 225);
padding: 9px;
display: block;
max-width: 220px;
text-align: center;
margin-top: 32px;
margin-left: -12px;
font-weight: 600;
}
.cal-dt{
background-image: url(/assets/img/clas-prc.png);
float: right;
min-width: 180px;
padding: 6px 3px;
background-repeat: no-repeat;
text-align: right;
color: #fff;
position: absolute;
right: 6px;
top: 37px;
}
.cal-dt h4{
  font-size: 20px;
  padding-left: 3px;

}
.flex-direction-nav{
  display: none;
}
.flex-control-thumbs li {
    width: 21% !important;
    float: left;
    margin: 0;
    padding: 12px 19px 7px 0px;
}
.cli-dr{
    padding: 10px 0px 0px 10px;
}
.cli-dr div {
  padding-bottom: 8px;
}
.cli-dr div p{
  font-size: 14px;
  width: 100%;
}
.cli-dr div p span{
float: right;
}
.cli-dr div p a{
  float: right;
}
.cls-dis{
padding: 10px 0px 0px 10px;
}
.cls-dis hr {
    margin-top: 1%;
}
.cls-dis h5{
    font-size: 14px;
    color: #000;
}
.cls-dis div p{
 color: #2a2a2a; 
}
.col-ms{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfbfb+0,e9e9e9+100 */
background: #fbfbfb; /* Old browsers */
background: -moz-linear-gradient(top,  #fbfbfb 0%, #e9e9e9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fbfbfb 0%,#e9e9e9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fbfbfb 0%,#e9e9e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */

  border: 1px solid #dbdada;
  border-radius: 5px;
  margin-top: 15%;
margin-bottom: 15%;
}
.col-ms div a{
width: 32px;
height: 24px;
display: inline-block;
margin: 0px 33px;
}

.col-ms div p{
width: 32px;
height: 24px;
display: inline-block;
margin: 0px 33px;
}


.col-ms div .cl{
    background-position: center;
    background-image: url(/assets/img/cl-ms_01.png);
}

.col-ms div .ms{
    background-position: center;
    background-image: url(/assets/img/cl-ms_02.png);
}

.col-ms div span{
 height: 26px;
background: #dbdada;
width: 2px;
display: inline-block;
}
.col-ms div {
    padding: 12px 9px;
    text-align: center;
}
.col-ms div a:hover{
  opacity: 0.5;
}
.clas-mot img{
display: inline-block;
vertical-align: top;
}
.clas-mot div{
display: inline-block;
vertical-align: top;
}
.clas-mot div a {
    font-size: 13px;
}
.clas-mot div h4{
    margin: 0px;
    font-size: 16px;
}
.by-nw a{
background-color: #a32929;
color: #fff;
font-size: 21px;
padding: 4%;
width: 100%;
display: block;
text-align: center;
margin-top: 15%;
}

.clid-d{
  width: 22%;
background: rgb(255, 255, 255) none repeat scroll 0% 0%;
padding: 6px;
float: left;
margin-right: 2.5%;
}
.clid-d img{display: block;
  margin: 0 auto;
  margin-top: 11% !important;

}
.clid-d a{
  font-size: 17px;
  text-align: center;
  font-weight: 500;
  display: block;
  color: #000;
  margin-top: 8%;
margin-bottom: 5%;
}
.clid-d a:hover{
  text-decoration: none;
}
.clid-d p{
color: #a2a2a2;
font-size: 12px;
text-align: center;
width: 90%;
margin: 0 auto;
display: block;
}
.clid-d h4{
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  margin-top: 16%;
}
.flexslider {
    margin: 0 0 0px !important;}

.my-ad-rig{
box-shadow: 0px 1px 8px -2px RGBA(0, 0, 0, 0.14);
}
.my-ad-rig a{
display: block;
width: 100%;
text-align: left;
padding: 17px 23px;
font-size: 14px;
color: #101010;
border-bottom: 1px solid #eae8e9;
}
.my-ad-rig a:hover{
  text-decoration: none;
}
.pos-ad{
margin-top: 5%;
}
.pos-ad a{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e41818+0,a70909+100 */
background: #e41818; /* Old browsers */
background: -moz-linear-gradient(top,  #e41818 0%, #a70909 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e41818 0%,#a70909 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e41818 0%,#a70909 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e41818', endColorstr='#a70909',GradientType=0 ); /* IE6-9 */
width: 100%;
display: block;
padding: 15px;
text-align: center;
color: #fff;
font-size: 19px;
border: 1px solid #000;
}
.myad-ri{
padding: 10px 21px;
margin: 0px 20px;
}
.myad-h4 h4{
  font-size: 26px;
}
.myad-ri div p{
  color: #000;
}
.ri-ico a{
  display: block;
  width: 35px;
  height: 23px;
  /*background-image:url(/assets/img/my-adic.png);*/
  display: inline-block;
  margin-right: 22px;
}

.ri-ico span{
  display: block;
  width: 40px;
  height: 23px;
  /*background-image:url(/assets/img/my-adic.png);*/
  display: inline-block;
  margin-right: 22px;
}

.ri-ico a i{
  color: #676a6c;
  font-size: 25px;
}


.ri-ico .status_success i{
  color: green;
  font-size: 25px;
}


.ri-ico .status_danger i{
  color: red;
  font-size: 25px;
}



font-size: 25px;
.viw{

}
.edi{
background-position: -56px 1px;
}
.cls{
background-position: -109px 1px;
}
.dele{
background-position: 21px 1px;
}
.myad-l{
  float: left;
}
.ri-ico{
  float: right;
  margin-top: 2%;
}
.myad-l img{
  display: inline-block;
  vertical-align: middle;
  margin-right: 6%;
}
.myad-l div{
  display: inline-block;
  vertical-align: middle;
}
.my-add{
  overflow: hidden;
padding: 10px;
border: 1px solid #efe6e7;
margin-bottom: -1px;
}
.my-dis h5{
margin: 0px;
font-weight: 600;
font-size: 14px
}
.my-dis p{
font-size: 13px
}
.myad-min{
  margin-top: 4%;
}
.active-r{
  background-color: #be0e0e !important;
color: #fff !important;
}
.pagi-my{
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 1%;
}
.re-imp label{
width: 100%;
display: block;
font-weight: 500;
}
.re-imp input{
width: 100%;
display: block;
height: 40px;
padding-left: 10px;
}
.re-imp{
    margin-bottom: 5%;
}
.re-imp input[type=submit]{
color: #ffffff;
background-color: #343435;
font-size: 16px;
min-width: 200px;
text-align: center;
width: auto;
border: 1px solid #a70909;
padding: 9px;
height: auto;
margin-top: 4%;
}
.hot-l p{
display: inline-block;
float: right;
color: rgb(255, 255, 255);
font-size: 14px;
margin-top: 14px;
text-transform: uppercase;
}
#cssmenu{
  display: inline-block;
}
.menu{
height: 47px;
}
.hot-l a{
        display: none;
      }

.hot-l{
  position: relative;
  display: inline;
}
.rpad{
  margin-left: 0px;
  margin-right: 0px;
}
.open{
  z-index: 10000;
  background: rgba(0, 0, 0, 0.91) none repeat scroll 0% 0%;
}
.col-32{
  float: left;
white-space: nowrap;
width: 32.33%;
margin-right: 1.0055%;
}
.pusm.collapsed div div.pus{

    background-image: url("/assets/img/plz.png");
    background-repeat: no-repeat;
    background-position: 99% 10px;
}
.pusm div div.pus{

    background-image: url("/assets/img/min.png");
    background-repeat: no-repeat;
    background-position: 99% 10px;
}
.dropdown.open{
background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
}
.flg-btn{
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%;
    color: #fff;
    border: none;
}
.top-onli div{
display: inline-block;
vertical-align: middle;
}
.footer-bk a img{
  padding: 0px;
position: absolute;
bottom: 19px;
right: 73px;
width: auto;
}
.lis-pgi{
  margin-right: 2.5%;
}
.row-15in{
  margin-right: 0px;
margin-left: 0px;
}
.vid-toppad{
  margin-top: 51%;
}
.vid-gsp{
  margin-top: 9%;
}
.art-banner a img{
  width: 96.5%;
}
.iapd-vidhaf{
     margin-top: 28%;
}
.abou-rw{
  padding: 0px;
}
.srch input[type=submit]{
    background-color: rgb(92, 90, 90);
border: medium none;
color: rgb(255, 255, 255);
padding: 8px 13px;
font-size: 16px;
position: absolute;
right: 0px;
}
.srch{
    position: relative;
    margin-right: 3.5%;
    margin-bottom: 3%;
}
.srch input[type=text]{
    height: 40px;
width: 100%;
padding-left: 10px;
}
.itm-sw{
    color: rgb(136, 134, 134);
    font-size: 16px;
    font-weight: 500;
    float: left;
}
.stro-b p,.stro-b div{
    display: inline-block;
}
.stro-b{
    float: right;
    margin-right: 3.5%;
}
.stro-b p{
    color: rgb(96, 95, 95);
    font-size: 13px;
}
.stro-b div button{
    border: medium none;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 7px 39px 7px 10px;
}
.stro-b div button span{
    margin-right: -30px;
margin-left: 54px;
}
.stro-b div ul{
    left: auto;
}

.cech-cat p{
color: #181718;
text-transform: uppercase;
font-size: 13px;
float: left;
}
.cech-cat img{
float: right;
}
.cat-h ul{
padding: 0px;
}
.cat-h ul li{
list-style: none;
font-size: 13px;
color: #605f5f;
line-height: 25px;
border-right: 1px solid #f8f8f8;
}
.cat-man{
background-color: rgb(255, 255, 255);
padding: 7%;
margin-bottom: 7%;
}
.seplin{
    height: 1px;
width: 118%;
background-color: #f8f8f8;
margin-left: -18px;
margin-right: -30px !important;
}
.cech-cat{
    overflow: hidden;
    padding-bottom: 6%;
}
.bod-d{
    border-right: 1px solid #c9c9c9;
}
div.cat-h ul li:first-child{
    border-right: 1px solid #c9c9c9;
}
div.cat-h ul li:nth-child(2){
    border-right: 1px solid #c9c9c9;
}
.cat-h{
margin-top: 8%;
}
.casi-top{
     background-color: #fffdea !important;
}
.casi{
    background-color: #fff;
/*margin-left: 3%;
margin-right: 4.9%;*/
padding: 3% 4% 4%;
min-height: 130px;
border: 1px solid #eceaea;
margin-bottom: -1px;

}
.casimin-div{
margin-left: 3%;
margin-right: 4.9%;
}
.casi-pgi {
    margin-right: -1.5%;
}
.casi div{
    display: inline-block;
    vertical-align: top;
}
.casi-dis div{
    display: block;
}
.casi-img,.casi-pri{
width: 20%;
}
.casi-dis{
    width: 60%;
}
.casi-dis div p{
    color: #a2a2a2;
}
.casi-dis div h3{
    font-size: 20px;
margin-top: 1%;
margin-bottom: 1%;
}
.casi-pri h3{
    font-size: 20px;
margin-top: 7%;
margin-bottom: 1%;
}
.casi-tim div.ln-tim{
position: absolute;
bottom: -25px;
}
.casi-dis{
    position: relative;
    min-height: 73px;
    padding: 0px 9px;
}
.casi-img{
    vertical-align: middle !important;
margin-top: 3%;
}
.catman-dv{
    overflow: hidden;
    margin-bottom: 3%;
}
.footer-bk p,.top-text p,.n-top p{
    color: #fff !important;
}
.cat-man div{
background-color: rgb(255, 255, 255) !important;
border-radius: 0px !important;
}
.res-clsi{
    display: none;
}
.ar-clsi{
    display: none;
}
.top-cas{
    margin-top: 28%;
}
.d-di.img-dti{
margin-top: 8%;
}
.my-acu{
   text-transform: uppercase;
    width: 100%;
    color: #8a8889 !important;
    background-color: #f0eeef;
    text-align: center !important;
    padding: 12px;
    box-shadow: 0px 0px 4px -2px;
    font-weight: 600;
    background-image: url(/assets/img/res.jpg);
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 5%;
}
.my-acus{
    display: none;
}
.regied h3{
    margin-bottom: 4%;
}
.dwn-log{
    margin-top: 5%;
}
.log-mian{
    background: #f6f5f5;
    border: 1px solid #d1ddde;
    padding: 5%;
    box-shadow: 0px 0px 14px 0px RGBA(0, 0, 0, 0.06);
}
.log-mndiv{
    width: 50%;
margin: 0 auto;
}
.log-mndiv div img{
    margin: 0 auto;
    display: block;
    margin-bottom: 5%;
margin-top: 4%;
}
.log-mian h6{
    font-size: 17px;
    text-align: center;
    padding-bottom: 3%;
}
.log-mian form input[type='text']{
    height: 42px;
    width: 100%;
    padding: 13px;
    margin-bottom: 4%;
}
.log-mian form input[type='password']{
    height: 42px;
    width: 100%;
    padding: 13px;
    margin-bottom: 4%;
}
.log-mian form a{
    margin-bottom: 18px;
    display: block;
}
.log-mian form input[type='submit']{
    display: block;
    width: 40%;
    background-color: rgb(52, 52, 53);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: 1px solid rgb(197, 30, 54);
    padding: 11px;
    font-weight: 600;
    margin: 0 auto;
}
.dwn-log p{
    color: #131415 !important;
    font-size: 17px;
    text-align: center;
    width: 100%;
    margin-bottom: 3%;
}
.dwn-log a{
    background-color: rgb(197, 30, 54);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    width: 42%;
    display: block;
    margin: 0px auto;
    padding: 10px;
}
.log-mndiv div img{

}
.div-sp{
    width: 1px;
    height: 260px;
}
.log-fot{
    text-align: center;
    margin-top: -16px;
    padding-bottom: 17px;
}
.log-fot a{
    display: inline-block;
    color: #fff;
font-size: 12px;
}
.po-cmnt{
    box-shadow: 0px 0px 5px 0px RGBA(0, 0, 0, 0.12);
    padding: 2.5% 4% 4%;
    margin-top: 4%;
}
.po-cmnt div h4{
    display: inline-block;
    margin-right: 2%;
}
.po-cmnt div span{
    display: inline-block;
    color: #b69898;
    font-style: italic;
}
.po-cmnt div{
    margin-bottom: 1%;
}
.po-cmnt p{
    color: #181818;
}
.shw-cmt a{
    background-color: #eeeced;
    color: #6c6062;
    width: 25%;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 4% !important;
}
.pos-new{
    margin-top: 8%;
}
.pos-new h3{
    margin-bottom: 2%;
}
.pos-new p{
    color: #b2a9aa !important;
}
.form-grup{
margin-top: 2%;
}
.form-grup label{
font-weight: 500;
}
.form-grup input{
    border-radius: 0px;
}
.sub input{
    width: 20%;
    float: right;
    margin-top: 4%;
    background-color: rgb(42, 42, 42);
    border-radius: 0px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 7px;
    display: block;
    height: 42px;
    text-transform: uppercase;
}
.form-grup textarea{
    height: 140px;
    border-radius: 0px;
}



.activ{
    background-color: #9e2a2a;
    color: #fff !important;
}
.pos-text{
    width: 100%;
    height: 100px;
}
    .onoffswitch {
        position: relative; width: 56px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border-radius: 20px;
        border: 1px solid #c3c3c3;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "&nbsp;";
        padding-left: 10px;
        background-color: #EBEBEB; color: rgba(255, 255, 255, 0);
        box-shadow: inset 1px 1px 13px RGBA(0, 0, 0, 0.19);
    }
    .onoffswitch-inner:after {
        content: "&nbsp;";
        padding-right: 10px;
        /*background-color: #fcfcfc;*/
        background-color: #1ab394;
        color: rgba(255, 255, 255, 0);
        text-align: right;
        box-shadow: inset 1px 1px 13px RGBA(0, 0, 0, 0.19);
    }
    .onoffswitch-switch {
        display: block;
        width: 22px;
        margin: 1px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 32px;
        border: 2px solid #FFFFFF;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
        box-shadow: 0px 1px 4px RGBA(0, 0, 0, 0.33);
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }
    .incenter div{
        margin: 0 auto;
        text-align: center;
    }
    .b7{
        color: #7b7777 !important;
    }
   .mid-chk{
        vertical-align: middle;
        margin: 0px 5px !important;
    }
    .let-post{
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        background-color: #af1b1b;
        border: 1px solid #692018;
        padding: 12px 28px;
        display: inline-block;
        margin-top: 3.5%;
        margin-bottom: 2%;
    }

  .uplod-img label  {
        background-image: url("/assets/img/dum.jpg");
        background-repeat: no-repeat;
        padding: 93px;
        display: block;
        background-size: 100%;
    }
    .uplod-img input[type="file"]{
        display: none;
    }
    .uplod-img input[type="submit"]{
        background: rgb(91, 101, 99) none repeat scroll 0% 0%;
        border: medium none;
        color: rgb(255, 255, 255);
        font-size: 15px;
        padding: 9px 74px;
        width: 100%;
    }
    .uplod-img{
        border: 1px dashed rgb(227, 227, 227);
        padding: 8px;
    }
    .img-uplabl{
        font-style: italic;
        color: rgb(166, 150, 150) !important;
        padding-top: 5%;
    }
.contact-form h3 {
    margin: 0;
    
    font-size: 25px;
    color: #333;
    font-weight: 700;
    padding-bottom: 12px;
}
.contact-form p {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin: 0;
    padding: 10px 0 44px;
}
.contact-form .form-page-contact input {
    border: 1px solid #e5e5e5;
    width: 100%;
    font-size: 12px;
    color: #999;
    padding: 5px 20px;
    display: inline-block;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
}
.contact-form .form-page-contact textarea {
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 220px;
    padding: 15px 20px;
    font-size: 12px;
    color: #999;
    margin-bottom: 30px;
}
.contact-info .info-title h4 {
    color: #333333;
    
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.contact-info .info-title span, .contact-info .info-title .phone-fax li {
    display: inline-block;
    font-size: 14px;
    line-height: 23px;
    color: #666;
    margin: 0;
}
.contact-info > span i {
    border-radius: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    border: 2px solid #9e2a2a;
    font-size: 20px;
    color: #9e2a2a;
}
.contact-info > span {
    float: left;
    margin-right: 20px;
}
.contact-info .info-title {
    overflow: hidden;
    padding-bottom: 60px;
}
.info-title ul{
    padding: 0px
}
.contact-page {
    margin-top: 4%;
}
.hot-l p,.top-email p,.top-cont p{
    color: #fff !important;
}



/*.p-lg {
    padding: 30px;
}*/
.featuredad-bg {
    background-color: #1ab394;
    color: #ffffff;
}

.topad-bg {
    background-color: #fc5b5e;
    color: #ffffff;
}


.widget {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px 20px;
    height: 210px
}

.text-center div {
    text-align: center;
}

.widget div div{
    margin-bottom: 5px !important;
}


/*.widget div input[type="checkbox"]{
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}*/



.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
 

.pos-ad .active{

    background: rgb(107,186,112); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(107,186,112,1) 0%, rgba(107,186,112,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#6bba70',GradientType=0 );

}



.srch input[type="button"] {
    background-color: rgb(92, 90, 90);
    border: medium none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 8px 13px;
    position: absolute;
    right: 0;
}



.d-sio ul {
    padding-left:0;
}

.d-sio  li {
    display:inline-block;
}
.d-sio  a {
    color: mediumseagreen;
}
.d-sio  p {
    color:#777;
}
.d-sio  strong {
    display:block;
    margin:25px 0 5px 0;
}


.share-items {
    padding: 20px 0 5px 70px;
    border-bottom:1px dotted #222;
}

.share-links a {
    padding:10px 15px;
    border-radius:3px;
    color:#fff;
    text-decoration: none;
    display:inline-block;
}

@media (max-width:640px) {
    .share-links a {
        margin-bottom:15px;
    }
}

.twitterBtn {
    background-color: #4099FF;
}

.twitterBtn:hover {
    background-color: #5FA5F5;
}

.facebookBtn {
    background-color: #3b5998;
}

.facebookBtn:hover {
    background-color: #5171B3;
}

.linkedinBtn {
    background-color: #0077B5;
}

.linkedinBtn:hover {
    background-color: #2886B7;
}

.googleBtn {
    background-color: #d34836;
}

.googleBtn:hover {
   background-color: #D66050;
}


.d-sio .fa {
    display: inline-block;
    font: 21px/1 FontAwesome;
    text-rendering: auto;
    transform: translate(0px, 0px);
}


.ri-ico span {
    display: inline-block;
    height: 23px;
    margin-right: 22px;
    width: 35px;
    text-decoration: none;
}
